$color: #0a2351;
$font-family: 'Poppins', sans-serif;
* {
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, p, li, label {
    color: $color !important;
    font-family: $font-family !important;
}

ul {
    list-style: none;
}

.info-for-user {
    background-color: red;
}

.content {

    margin-top: 40px;
    h1{
        text-align: center;
    }

    section {
        //display: flex;
        //justify-content: space-between;
        padding: 40px 0 0 0;
        width: 50%;
        margin: 0 auto;

        &:last-child {
            padding-bottom: 40px;
        }

        //h1, h2 {
        //    text-align: center;
        //}

        .form-search {
            //width: 50%;
            margin: 0 auto;
            padding-right: 40px;

            .form-group-check {
                display: flex;

                .form-check {
                    margin-right: 20px;
                }
            }

            .wrap-form-input {
                .form-input {
                    margin-bottom: 1rem;

                }

                .form-input-row {
                    display: flex;
                    flex-direction: row;

                    .form-input {
                        width: 50%;

                        &:first-child {
                            margin-right: 20px;
                        }
                    }
                }
            }
        }

        .section-img {
            height: 500px;
            object-fit: cover;
        }

        article {
            margin-right: 50px;
            margin-bottom: 50px;

            h2, p {
                text-align: center;
            }

            .btn-dark-blue {
                color: #ffffff;
                font-size: 24px;
                display: block;
                border-radius: 4px;
                padding: 20px;
                //margin-right: 30px;
                text-decoration: none;
                background-color: #0c2351;
                width: fit-content;
                margin: 0 auto;

                &:hover {
                    background-color: #0a23519c;
                }

                a {
                    color: #ffffff;
                    text-decoration: none;

                }
            }
        }

        .entered-block {
            h1 {
                text-align: center;
            }

            .entered-block-link {
                border: 2px solid #0c2351;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 50px auto 0;
                border-radius: 5px;
                position: relative;
                width: fit-content;
                padding: 30px 50px;

                .btn-dark-blue {
                    color: #fff;
                    font-size: 24px;
                    display: block;
                    border-radius: 4px;
                    padding: 20px;
                    margin-right: 30px;
                    text-decoration: none;
                    background-color: #0c2351;

                    &:last-child {
                        margin-right: 0;
                    }

                    &:hover {
                        background-color: #0a23519c;
                    }
                }
            }
        }

        .wrap-users-info {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            .users-info {
                display: block;
                border: 2px solid $color;
                padding: 30px;
                width: 100%;
                max-width: 45%;
                margin: 10px;

                h2 {
                    text-align: left;
                }

                ul {
                    padding-inline-start: 0;
                    padding-bottom: 0;

                    li {
                        font-size: 18px;

                        b {
                            margin-right: 10px;
                        }
                    }
                }
                &.hidden{
                    display: none;
                }

                a , button{
                    display: block;
                    color: $color;
                    font-size: 16px;
                    margin-top: 15px;
                    //text-align: right;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            &.users-info-details {
                flex-direction: column;
                width: 100%;

                h1 {
                    text-align: left;
                }

                .wrap-span {
                    display: flex;
                    flex-direction: column;
                    text-align: right;
                }

                ul {
                    padding-inline-start: 0;
                    padding-bottom: 0;

                    li {
                        b {
                            margin-right: 10px;
                        }
                    }
                }

                .users-info {
                    width: 70%;
                }
            }
        }

        .wrap-cat {
            display: flex;

            .item-cat {
                width: 300px;
                height: 300px;
                background-image: url("/img/new_teacher.jpeg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;

                &:hover {
                    opacity: 0.7;
                }
            }
        }

        .my-account-wrap-info {
            background: #0a2351;
            width: 100%;
            height: 100px;
            margin-bottom: 25px;
            text-align: center;
            align-items: center;
            display: flex;
            justify-content: center;
            flex-direction: column;

            span {
                font-size: 30px;
                color: #ffffff;
            }

            a {
                font-size: 20px;
                font-weight: bold;
                color: #ffffff;
            }
        }
    }
}

.option-list-toggle {
    display: none;
    background-color: #fff;
    width: 100%;
    position: absolute;
    right: 0;
    max-width: 300px;
    margin-top: 25px;
    box-shadow: -9px 12px 20px 6px #9c9898;
    padding: 0 20px;
    z-index: 10;
}

.vacancy-list {
    margin: 20px 0;
    border: 2px solid #1b1e21;
    padding: 25px;
    display: none;

    .vacancy-list-item {
        display: flex;

        label {
            order: 2;
        }

        input[type="checkbox"] {
            width: 20px;
            height: 20px;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
        }
    }
}

.record-of-services-wrap {
    display: flex;

    section {
        width: 50%;
        margin-right: 40px;

        &.record-of-services-section {

            form {
                width: 100%;
            }
        }
    }
}

.wrap-btn-work {
    display: flex;
    flex-wrap: wrap;

    button {
        width: 100px;
    }
}

.main-page-img {
    margin: 0 auto;
    display: block;
    width: 800px;
}

#job-categories-search {
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
        width: 500px;
        height: 50px;
    }
}
.hidden{
    display: none;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
}
table{
    margin: 20px auto;
}
.admin{
    margin: 20px 0 50px;
    display: block;
    h1{
        text-align: center;
    }
}
